* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.colorCards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px;
}
.colorContainers{
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}
.size1{
  width: 210px;
  height: 80px;
}
.size2{
  width: 210px;
  height: 55px;
}
.size3{
  width: 210px;
  height: 45px;
}
.size4{
  width: 210px;
  height: 35px;
}
